<!doctype html>
<html>
<head>
<style type="text/css">
*{margin:0;padding:0;}
.data-div{width:100%;overflow:hidden;}
.data-div .title{white-space:nowrap;cursor:pointer;width:96%;text-overflow:ellipsis;overflow:hidden;color:#fff;padding:10px 20px;margin:2px auto;}
.data-div .title span{margin-right:20px;background:#fff;padding:3px 10px;font-weight:700;border-radius:5px;}
.data-div .monkey{background:#243640;}
.data-div .csp{background:#b31612;}
.data-div .feature{background:#1a739e;}
.data-div .speed{background:#00a79d;}
.data-div .csp span{color:#b31612;}
.data-div .feature span{color:#1a739e;}
.data-div .speed span{color:#00a79d;}
.data-div .monkey span{color:#243640;}

.data-div ul{display:none;list-style-type:none;margin-bottom:20px;margin-left:30px;}
.data-div ul li{padding:3px;float:left;width:40%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.data-div ul .key{margin-right:5px;}
.data-div ul .desc{color:#bbb;margin-right:5px;}
.data-div ul .val{color:red;margin-left:5px;}
.data-div ul h3{border-bottom:1px solid #ccc;padding:0 10px 10px 10px;margin-right:30px;}
.btn{width:100px;height:25px;margin:10px;}
</style>
</head>
<body><div><input class="btn" type="button" value="clean data" /><a href="/static/ulog/test.html" target="_blank">demo</a></div><div class="data-div" data-url='{"bdrs":"T","bxsd":"T","opty":"T","txsd":"T","amnm":"T","tstn":"T","tsfm":"T","cavs":"T","dgdp":"T","locs":"F","audo":"T","vido":"T","xhr2":"T","svg":"T","wsql":"T","natm":"T","ustm":"T","wbsk":"T","geol":"T","wbgl":"T","hsty":"T","ptmg":"T","file":"T","sample":"1","type":"feature","tid":"234324","pid":"123","uid":"i919s8dacxu"}'><div class="title feature"><span>feature</span>/img?bdrs=T&bxsd=T&opty=T&txsd=T&amnm=T&tstn=T&tsfm=T&cavs=T&dgdp=T&locs=F&audo=T&vido=T&xhr2=T&svg=T&wsql=T&natm=T&ustm=T&wbsk=T&geol=T&wbgl=T&hsty=T&ptmg=T&file=T&sample=1&type=feature&tid=234324&pid=123&uid=i919s8dacxu</div><ul></ul></div><div class="data-div" data-url='{"ht":"1","fs":"2","drt":"3","lt":"15","sample":"1","type":"speed","tid":"234324","pid":"123","browser":"chrome","screen":"1440*900|1440*790","mnt":"0","ref":"http://127.0.0.1:8080/","url":"127.0.0.1:8080/static/ulog/test.html","cookie":"true","language":"zh-CN","os":"MacIntel","dns":"0","ct":"0","st":"15","tt":"16","dct":"40","olt":"42","uid":"i919s8dacxu"}'><div class="title speed"><span>speed</span>/img?ht=1&fs=2&drt=3&lt=15&sample=1&type=speed&tid=234324&pid=123&browser=chrome&screen=1440*900%7C1440*790&mnt=0&ref=http%3A%2F%2F127.0.0.1%3A8080%2F&url=127.0.0.1%3A8080%2Fstatic%2Fulog%2Ftest.html&cookie=true&language=zh-CN&os=MacIntel&dns=0&ct=0&st=15&tt=16&dct=40&olt=42&uid=i919s8dacxu</div><ul></ul></div><div class="data-div" data-url='{"sample":"1","type":"csp","tid":"234324","pid":"123","cspurl":"http://babel.baidu.com/","tag":"iframe","uid":"i919s8dacxu"}'><div class="title csp"><span>csp</span>/img?sample=1&type=csp&tid=234324&pid=123&cspurl=http%3A%2F%2Fbabel.baidu.com%2F&tag=iframe&uid=i919s8dacxu</div><ul></ul></div><div class="data-div" data-url='{"sample":"1","type":"monkey","tid":"234324","pid":"123","cmd":"close","count":"0","vr":"0|0|1409|718","mst":"46625","uid":"i919s8dacxu"}'><div class="title monkey"><span>monkey</span>/img?sample=1&type=monkey&tid=234324&pid=123&cmd=close&count=0&vr=0%7C0%7C1409%7C718&mst=46625&uid=i919s8dacxu</div><ul></ul></div><div class="data-div" data-url='{"ht":"1","fs":"2","drt":"3","c_frameLoad":"18483","lt":"18507","sample":"1","type":"speed","tid":"234324","pid":"123","browser":"chrome","screen":"1440*900|1440*790","mnt":"0","ref":"http://127.0.0.1:8080/","url":"127.0.0.1:8080/static/ulog/test.html","cookie":"true","language":"zh-CN","os":"MacIntel","dns":"0","ct":"0","st":"8","tt":"10","dct":"18536","olt":"18539","uid":"i919s8dacxu"}'><div class="title speed"><span>speed</span>/img?ht=1&fs=2&drt=3&c_frameLoad=18483&lt=18507&sample=1&type=speed&tid=234324&pid=123&browser=chrome&screen=1440*900%7C1440*790&mnt=0&ref=http%3A%2F%2F127.0.0.1%3A8080%2F&url=127.0.0.1%3A8080%2Fstatic%2Fulog%2Ftest.html&cookie=true&language=zh-CN&os=MacIntel&dns=0&ct=0&st=8&tt=10&dct=18536&olt=18539&uid=i919s8dacxu</div><ul></ul></div><div class="data-div" data-url='{"bdrs":"T","bxsd":"T","opty":"T","txsd":"T","amnm":"T","tstn":"T","tsfm":"T","cavs":"T","dgdp":"T","locs":"F","audo":"T","vido":"T","xhr2":"T","svg":"T","wsql":"T","natm":"T","ustm":"T","wbsk":"T","geol":"T","wbgl":"T","hsty":"T","ptmg":"T","file":"T","sample":"1","type":"feature","tid":"234324","pid":"123","uid":"i919s8dacxu"}'><div class="title feature"><span>feature</span>/img?bdrs=T&bxsd=T&opty=T&txsd=T&amnm=T&tstn=T&tsfm=T&cavs=T&dgdp=T&locs=F&audo=T&vido=T&xhr2=T&svg=T&wsql=T&natm=T&ustm=T&wbsk=T&geol=T&wbgl=T&hsty=T&ptmg=T&file=T&sample=1&type=feature&tid=234324&pid=123&uid=i919s8dacxu</div><ul></ul></div><div class="data-div" data-url='{"sample":"1","type":"csp","tid":"234324","pid":"123","cspurl":"http://babel.baidu.com/","tag":"iframe","uid":"i919s8dacxu"}'><div class="title csp"><span>csp</span>/img?sample=1&type=csp&tid=234324&pid=123&cspurl=http%3A%2F%2Fbabel.baidu.com%2F&tag=iframe&uid=i919s8dacxu</div><ul></ul></div><div class="data-div" data-url='{"sample":"1","type":"monkey","tid":"234324","pid":"123","tm":"140777","count":"1","xp":"h4G(test)NC","ep":".424|.000","pp":"25|59","ps":"1409|398","u":"http://hetu.baidu.com","vr":"0|0|1409|257","txt":"link2","cmd":"click","uid":"i919s8dacxu"}'><div class="title monkey"><span>monkey</span>/img?sample=1&type=monkey&tid=234324&pid=123&tm=140777&count=1&xp=h4G(test)NC&ep=.424%7C.000&pp=25%7C59&ps=1409%7C398&u=http%3A%2F%2Fhetu.baidu.com&vr=0%7C0%7C1409%7C257&txt=link2&cmd=click&uid=i919s8dacxu</div><ul></ul></div><div class="data-div" data-url='{"ht":"0","fs":"1","drt":"3","lt":"109","sample":"1","type":"speed","tid":"234324","pid":"123","browser":"chrome","screen":"1440*900|1440*790","mnt":"0","ref":"http://127.0.0.1:8081/","url":"127.0.0.1:8081/static/ulog/test.html","cookie":"true","language":"zh-CN","os":"MacIntel","dns":"0","ct":"0","st":"9","tt":"10","dct":"172","olt":"174","uid":"iaj1lmrd4uc"}'><div class="title speed"><span>speed</span>/img?ht=0&fs=1&drt=3&lt=109&sample=1&type=speed&tid=234324&pid=123&browser=chrome&screen=1440*900%7C1440*790&mnt=0&ref=http%3A%2F%2F127.0.0.1%3A8081%2F&url=127.0.0.1%3A8081%2Fstatic%2Fulog%2Ftest.html&cookie=true&language=zh-CN&os=MacIntel&dns=0&ct=0&st=9&tt=10&dct=172&olt=174&uid=iaj1lmrd4uc</div><ul></ul></div><div class="data-div" data-url='{"bdrs":"T","bxsd":"T","opty":"T","txsd":"T","amnm":"T","tstn":"T","tsfm":"T","cavs":"T","dgdp":"T","locs":"F","audo":"T","vido":"T","xhr2":"T","svg":"T","wsql":"T","natm":"T","ustm":"T","wbsk":"T","geol":"T","wbgl":"T","hsty":"T","ptmg":"T","file":"T","sample":"1","type":"feature","tid":"234324","pid":"123","uid":"iaj1lmrd4uc"}'><div class="title feature"><span>feature</span>/img?bdrs=T&bxsd=T&opty=T&txsd=T&amnm=T&tstn=T&tsfm=T&cavs=T&dgdp=T&locs=F&audo=T&vido=T&xhr2=T&svg=T&wsql=T&natm=T&ustm=T&wbsk=T&geol=T&wbgl=T&hsty=T&ptmg=T&file=T&sample=1&type=feature&tid=234324&pid=123&uid=iaj1lmrd4uc</div><ul></ul></div><div class="data-div" data-url='{"sample":"1","type":"csp","tid":"234324","pid":"123","cspurl":"http://babel.baidu.com/","tag":"iframe","uid":"iaj1lmrd4uc"}'><div class="title csp"><span>csp</span>/img?sample=1&type=csp&tid=234324&pid=123&cspurl=http%3A%2F%2Fbabel.baidu.com%2F&tag=iframe&uid=iaj1lmrd4uc</div><ul></ul></div><div class="data-div" data-url='{"sample":"1","type":"monkey","tid":"234324","pid":"123","cmd":"close","count":"0","vr":"0|0|1440|674","mst":"2357976","uid":"iaj1lmrd4uc"}'><div class="title monkey"><span>monkey</span>/img?sample=1&type=monkey&tid=234324&pid=123&cmd=close&count=0&vr=0%7C0%7C1440%7C674&mst=2357976&uid=iaj1lmrd4uc</div><ul></ul></div></body>
<script src="/static/js/jquery-2.0.3.min.js"></script>
<script>
(function($){
    var lang = {
        /*common*/
        'type':'类型',
        'tid':'任务Id',
        'pid':'页面id',
        'uid':'用户id',
        /*speed.js*/
        'sample':'抽样概率',
        'browser': '浏览器',
        'screen': '屏幕尺寸',
        'mnt': '网络类型',
        'ref': '来源',
        'url': '当前url',
        'cookie': '是否允许cookie',
        'language': '语言',
        'os':'平台',
        'ht':'白屏时间',
        'drt': 'DOM完成时间',
        'lt':'页面加载完成时间',
        'fs':'首屏时间',
        'dns':'DNS时间-timing',
        'ct':'页面链接时间-timing',
        'st':'首包时间-timing',
        'tt':'html传输完成时间-timing',
        'dct':'DOM完成时间-timing',
        'olt':'页面加载完成时间-timing',
        'c_frameLoad':'自定义的iframe加载完成时间',
        /*csp.js*/
        'tag':'页面标签',
        'cspurl':'跨域请求',
        /*feature*/
        'bdrs':'borderRadius',
        'bxsd':'boxShadow',
        'opty':'opacity',
        'txsd':'textShadow',
        'amnm':'animateName',
        'tstn':'transition',
        'tsfm':'transform',
        'cavs':'canvas',
        'dgdp':'dragdrop',
        'locs':'localstorage',
        'audo':'audio',
        'vido':'video',
        'xhr2':'xmlHttpRequest',
        'svg':'svg',
        'wsql':'openDatabase',
        'natm':'timing',
        'ustm':'mark',
        'wbsk':'websocket',
        'geol':'geoloacation',
        'wbgl':'webGL',
        'hsty':'history',
        'ptmg':'postMessage',
        'file':'file',
        /*monkey.js*/
        'cmd':'用户操作',
        'mst':'页面停留时间',
        'vr':'滚动条数据',
        'tm':'点击时间',
        'count':'点击次数',
        'xp':'元素路径',
        'ep':'点击的元素部位',
        'pp':'点击的坐标',
        'ps':'网页最大尺寸',
        'u':'元素URL',
        'txt':'元素文本'
    }
    var dataObj = $('.data-div');
    dataObj.bind('click', function() {
        $(this).find('ul').toggle();
    })
    dataObj.each(function(){
        var data = JSON.parse($(this).attr('data-url'));
        var html = '';
        
        for(var i in data) {
            var desc = lang[i] || '';
            html += '<li><span class="key">'+i+'</span><span class="desc">('+desc+')</span>:<span class="val">'+data[i]+'</span></li>';
        }
        $(this).find('ul').html(html);
    })
    $(".btn").bind("click", function(){
        $.ajax({
            url:'/clear',
            success:function(res) {
                location.reload();
            }
        })
    })
}(jQuery))
</script>
</html>
